# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# =========================
# IDE / éditeurs
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Données & vidéos
# =========================
data/*.mp4
data/*.avi
data/*.mov
data/*.mkv

# =========================
# Outputs temporaires
# =========================
outputs/
tmp/
temp/
*.log

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

